{% extends "uploader/base.html" %}

{% block content %}

<div class="container">
    <div class="row col-md-5 mx-3">
        <a href="{% url 'home' %}" class="mt-3">Назад к списку</a>
        <h2 class="mt-3">Новое изображение</h2>
    </div>
    <div class="row col-md-4 mx-3 mt-3">
        <div class="form-group">
            <form action="{% url 'add_image' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {{ field.label }}
                    {{ field }}
                {% endfor %}
                <input type="submit" class="btn btn-secondary mt-3" value="Отправить">
<!--                <button class="btn btn-secondary" type="button" id="inputGroupFileAddon04">Отправить</button>-->
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger mt-3">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}